<div>
  <div class="header row">
    <div class="col-lg-12 header-title">
      <span>{{listobj.title}}</span>
      <span class="header-records">[ {{datarows.length > 0 ? datarows.length : 'No'}} records found ]</span>
    </div>
  </div>

  <div class="content row">
    <div class="col-md-12">

      <!-- pagination header -->

      <div class="row table-pagination-up">
        <div class="col-md-4 table-pagination-div">
          <!-- <form class="form-inline">
            <div class="table-pagination-limit">
              <select id="limit" name="limit" class="form-control table-pagination-dropdown" [(ngModel)]="itemsPerPage">
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="5">5</option>
                <option value="10">10</option>
              </select>
            </div>
            <label for="limit" class="table-pagination-limit-label">
              <span>entries per page</span>
            </label>
          </form> -->
        </div>
        <div class="col-md-4 full-filter">
          <span>Filter Data: </span>
          <span>
            <input type="text" class="form-control full-filter-box" (keyup)="fullFilter()" id="fullfiltervar">
          </span>
        </div>
        <div class="col-md-4 table-pagination-div">
          <!-- <div class="table-pagination-controls">
            <pagination-controls (pageChange)="page = $event" id="my-pagination" maxSize="5" previousLabel="" nextLabel=""></pagination-controls>
          </div> -->
        </div>
      </div>

      <!-- table -->

      <!-- <div class="table-scroll-dummy" id="table-scroll-dummy">
        <div id="list-table-dummy" style="display: inline-block;">

        </div>
      </div> -->

      <!-- <div class="table-scroll" id="table-scroll">
        <table class="table table-hover list-table" id="list-table"> -->
      <div class="table-scroll">
        <table class="table table-hover list-table">
          <thead class="header-row-wrapper text-nowrap">
            <tr class="header-row">
              <th class="header-cell header-cell-action">
                Action
              </th>
              <th *ngFor="let column of listfields" class="header-cell" (click)="sortColumn(column, column.order-1)">
                <span class="header-span">{{column.title}}</span>
                <span *ngIf="temp_index == column.order-1">
                  <i *ngIf="isAsc" class="fa fa-caret-down"></i>
                  <i *ngIf="!isAsc" class="fa fa-caret-up"></i>
                </span>
              </th>
            </tr>
          </thead>
          <tbody>
            <!-- <tr class="body-row" (click)="onEditClick($event);showForm('Edit')" *ngFor="let row of temptabledata | paginate : { id: 'my-pagination', itemsPerPage: itemsPerPage, currentPage: page } ; let i = index;"> -->
            <!-- <tr class="body-row" (click)="onEditClick($event);showForm('Edit')" *ngFor="let row of temptabledata">-->

            <tr class="body-row" *ngIf="datarows.length == 0">
              <td [attr.colspan]="listfields.length+2" class="no-record-msg">No Record Available</td>
            </tr>

            <ng-container *ngIf="datarows.length > 0">
              <tr class="body-row">
                <td class="header-cell header-cell-action">

                </td>
                <td class="header-cell" *ngFor="let column of listfields">
                  <input type="text" class="form-control filter-box" (keyup)="onefilter()" id="onefiltervar_{{column.order}}">
                </td>
              </tr>

              <tr *ngFor="let row of datarows" class="body-row" [hidden]="!row.status">

                <td class="body-cell body-cell-action">
                  <div class="body-cell-action-div">
                    <span class="font-icon-wrapper" (click)="onEditClick(row, row.keyvalue);showForm('view')">
                      <i class="fa fa-eye font-icon-action"></i>
                    </span>
                    <span class="font-icon-wrapper font-icon-padding" (click)="onEditClick(row, row.keyvalue);showForm('edit')">
                      <i class="fa fa-pencil font-icon-action"></i>
                    </span>
                    <span class="font-icon-wrapper font-icon-padding" (click)="openDeleteModal()">
                      <i class="fa fa-trash font-icon-action"></i>
                    </span>
                  </div>
                </td>

                <td *ngFor="let column of listfields" class="body-cell body-cell-content">
                  <app-model-list-page-item *ngIf="row" [data]="row" [listfields]="listfields" [fieldname]="column.field"></app-model-list-page-item>
                </td>

              </tr>
            </ng-container>

          </tbody>
        </table>
      </div>

      <!-- pagination footer -->

      <!-- <div class="row table-pagination-down">
          <div class="col-md-6 table-pagination-div">
            <form class="form-inline">
              <div class="table-pagination-limit">
                <select id="limit" name="limit" class="form-control table-pagination-dropdown" [(ngModel)]="itemsPerPage">
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="5">5</option>
                  <option value="10">10</option>
                </select>
              </div>
              <label for="limit" class="table-pagination-limit-label">
                <span>entries per page</span>
              </label>
            </form>
          </div>
          <div class="col-md-6 table-pagination-div">
            <div class="table-pagination-controls">
              <pagination-controls (pageChange)="page = $event" id="my-pagination" maxSize="5" previousLabel="" nextLabel=""></pagination-controls>
            </div>
          </div>
        </div> -->

    </div>
  </div>
</div>

<!-- delete modal -->

<div class="modal fade" bsModal #deleteModal="bs-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header modals-head">
        <span class="modal-title modals-title">Please confirm</span>
        <button type="button" class="close pull-right modals-close" aria-label="Close" (click)="closeDeleteModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body modals-body">
        <div class="modals-delete-message">
          <div class="warning"></div>
          <p>Are you sure you want to delete this entry?</p>
        </div>
        <div class="modals-buttons-wrapper">
          <button type="button" class="btn btn-danger btn-sm modals-button-margin" (click)="closeDeleteModal()">
            <span class="modals-button-span">Cancel</span>
          </button>
          <button type="button" class="btn btn-primary btn-sm modals-button-margin" (click)="deleteRecord()">
            <span class="modals-button-span">Confirm</span>
          </button>
        </div>
      </div>

    </div>
  </div>
</div>